.page.theme_dark {
  /*Переменные цвета(light theme)--------------------*/
  --color-title: var(--color-title-dark);
  --color-accent: var(--color-accent-dark);
  --text-color: var(--color-main-dark);
  --bg-color: var(--color-subtitle-dark);
  --sub-heading: var(--color-subtitle-dark);
  --menu-color: var(--color-accent);
  --text-shadow: var(--color-accent);

  background-image: url(../images/cover-image-dark.png);
  /*Переменные цвета(light theme)--------------------*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-title: var(--color-title-dark);
    --color-accent: var(--color-accent-dark);
    --text-color: var(--color-main-dark);
    --bg-color: var(--color-subtitle-dark);
    --sub-heading: var(--color-subtitle-dark);
    --menu-color: var(--color-accent);
    --text-shadow: var(--color-accent);
  }

  .page {
    color: var(--text-color);
    background-color: var(--bg-color);
    background-image: url(../images/cover-image-dark.png);
  }
  .header__recover {
    display: block;
  }
}
