.page.theme_light {
  /*Переменные цвета(light theme)--------------------*/
  --color-title: #ffc2e6;
  --color-accent: #ff8dcb;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --text-shadow: #ffc2e6;
  --sub-heading: var(--text-color);
  --menu-color: var(--text-color);

  background-image: url(../images/cover-image-light.png);
  /*Переменные цвета(light theme)--------------------*/
}

.theme_light .header__recover {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-title: #ffc2e6;
    --color-accent: #ff8dcb;
    --bg-color: #fff1f7;
    --text-color: #353430;
    --text-shadow: #ffc2e6;
  }

  .page {
    color: var(--text-color);
    background-color: var(--bg-color);
    background-image: url(../images/cover-image-light.png);
  }
}
